<html>
    <head>
        <title>Python Final Project (Yoon and Soo) Homepage </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <div class="container">
                <a class="navbar-brand" href="/">Home</a>
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h2></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2></h2>
                <h1>About Yoon</h1>
                <h3>Yoon is from South Korea and he loves music and the culinary world</h3>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h2></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2></h2>
                <h1>About Soo</h1>
                <h3>Soo is from South Korea and she loves the tech industry</h3>
            </div>
        </div>

        <hr>
        <footer>
            <p> CBS Class of 2017</p>
        </footer>

    </body>
</html>


